#root {
	padding: 2rem;
	width: 100%;
	height: 80%;
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.tasks {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.item-column {
	padding: 20px;
	border: 1px solid white;
	max-width: 25%;
	min-width: 25%;
}

.items {
	min-height: 350px;
	max-height: 350px;
	overflow-y: scroll;
}

.item {
	border-bottom: 1px solid white;
}

.form {
	margin-top: 80px;
}
