#root {
	padding: 2rem;
	width: 100%;
	height: 80%;
	text-align: center;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.tasks {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.item-column {
	padding: 1rem;
	border: 1px solid white;
	border-radius: 5px;
	max-width: 25%;
	min-width: 25%;
}

.items {
	min-height: 20rem;
	max-height: 20rem;
	overflow-y: scroll;
}

.item {
	border-bottom: 1px solid white;
}

.form {
	display: flex;
	margin: 5rem auto;
	width: 80%;
	justify-content: center;
	vertical-align: middle;
	flex-direction: row;
}

.text-area {
	width: 30rem;
	height: 8rem;
	margin-right: 20px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 2em;
	}

	.form {
		margin: 2rem auto;
		width: 90%;
	}

	.item {
		font-size: 12px;
	}

	.items {
		max-height: 12rem;
		min-height: 12rem;
	}

	.text-area {
		width: 20rem;
		height: 6rem;
		margin-right: 10px;
	}

}
